<h1>Listing articles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Published on</th>
      <th>Tags</th>
      <th>Properties</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.name %></td>
        <td><%= article.content %></td>
        <td><%= article.published_on %></td>
        <td><%= article.tags %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<script>
console.log("Hashed manually")
</script>
<%= hashed_javascript_tag(raise_error_on_unrecognized_hash = true) do %>
console.log("hashed automatically!")
<% end %>
<%= nonced_javascript_tag do %>
console.log("nonced!")
<% end %>
<%= nonced_javascript_tag 'console.log("nonced without a block!")' %>
<%= ENV["RAILS_ENV"] %>
<%= @content_security_policy_nonce %>

<%= link_to 'New Article', new_article_path %>
<style nonce="<%=@content_security_policy_nonce%>">
body {
  text-decoration: bold;
}
</style>
